.p-main-image img {
    width: 160px;
    height: auto;
    border-radius: 50%;
}

.p-edit-profile {
    border: 1px solid #9999;
    border-radius: 5px;
    background-color: #fafafa;
}

.p-profile-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.p-profile-information div {
    margin: 1.2rem 0 0 0;
}

.p-profile-information div:last-child {
    margin: auto;
}

.p-edit-part {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.p-edit-part div {
    margin: 0 0.5rem;
}

.p-informarion-sm-block {
    display: flex;
}

.p-edit-part-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.p-edit-part-2 div {
    margin: 0 1.4rem 0 0.5rem;
}

.p-edit-part-3 div {
    margin: 0 1.4rem 0 0.6em !important;
}


.p-edit-part-4 div {
    margin: 0 1.4rem 0 0.6rem !important;
}

.p-image-post {
    width: 100%;
    height: 250px;
}

.p-footer {
    display: flex;
}

.p-footer li {
    margin: 0 0.5rem;
    cursor: pointer;
}

.p-footer li span {
    font-size: 13px;
}

.p-footer-text {
    font-size: 13px;
}


/* Image Overlay Stylr */
.img-post-overlay {
    position: relative;
    width: 100%;
    height: 250px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3333;
}

.img-post-overlay:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.text-overlay {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal-content ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.modal-content ul li {
    border-bottom: 1px solid #9999;
    width: 100%;
    padding: 0.7rem 0;
    cursor: pointer;
}

.profile-detail-photo img {
    width: 650px;
    height: 500px
}


@media screen and (max-width:830px) {
    #profile-footer {
        display: none;
    }

    .p-main-image {
        text-align: center;
    }

    .p-edit-part {
        display: block;
        margin: auto !important;
    }

    .p-edit-part div {
        margin: 0.5rem 0;
    }

    .profile-detail-photo img {
        width: 100%;
        height: auto;
    }
}