:root {
    --body-color:#fafafa;
}

body {
    background-color: var(--body-color);
}

ul {
    list-style: none;
}

.container {
    max-width: 1000px !important;
}


@import url('./Home/home.css');
@import url('./Header/header.css');