:root {
    --body-color: #fafafa;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: var(--body-color);
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.container {
    max-width: 1000px !important;
}

/* Scroll Bar Design for Chrome */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px
}




@import url('./Home/home.css');
@import url('./Header/header.css');
@import url('./Direct/direct.css');
@import url('./Post/post.css');
@import url('./Explore/explore.css');
@import url('./Activity/activity.css');
@import url('./Profile/profile.css');
@import url('./AccountEdit/accountedit.css');
@import url('./Qrcode/qrcode.css');