:root {
    --ho_cp: pointer;
    --ho_ps: sticky;
}

.ho_ps {
    width: 100%;
    position: var(--ho_ps);
    top: 120px;
}

.ho_pdfz {
    font-size: 14px;
}

.ho_ffs {
    font-size: 11px;
}

.ho_ffsc {
    font-size: 12px;
}

.ho_cp {
    cursor: var(--ho_cp);
}

.ho_bcs {
    border: 2px solid rgb(193, 53, 132);
}