.ho_ps {
    width: 100%;
    position: sticky;
    top: 120px;
}

.ho_pdfz {
    font-size: 14px;
}

.ho_ffs {
    font-size: 11px;
}

.ho_ffsc {
    font-size: 12px;
}

.ho_cp {
    cursor: pointer;
}