:root {
    --d_bc: #eeee;
    --d_ph: #f9f9f9;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.d_bp {
    border: 1px solid var(--d_bc);
}

.d_of {
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-all;
    height: 75vh;
}

.d_ph:hover {
    background-color: var(--d_ph);
    cursor: pointer;
}

.d_echl {
    font-family: 'Bangers', cursive;
}

.d_mfhm {
    margin: 0.85rem;
}

.d_bt {
    border-top: 1px solid var(--d_bc);
}

.d_idm {
    position: relative;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    padding: 0.5rem 3rem;
}

.d_idm:focus {
    outline: none;
}

.d_ms {
    position: absolute;
    left: 65px;
}

.d_my {
    margin: 0.9rem 0;
}

.people-message-margin {
    margin: 1.5rem 0.5rem;
}

.people-message {
    border: 1px solid rgb(239, 239, 239);
    padding: 1rem;
    border-radius: 10px;
    display: inline-block;
    width: 250px;
    text-align: justify;
}

.you-message {
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(239, 239, 239);
    display: inline-block;
    width: 250px;
    text-align: justify;
}

.you-message-margin {
    margin: 0 0.5rem;
}

.d_mvl {
    text-decoration: none !important;
    color: #333;
}

/* .d_mg {
    position: absolute;
    left: 530px;
}


.d_mh {
    position: absolute;
    left: 560px;
} */