:root {
    --d_bc: #eeee;
    --d_ph: #f9f9f9;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.d_bp {
    border: 1px solid var(--d_bc);
}

.d_of {
    overflow-y: scroll;
    height: 75vh;
}

.d_ph:hover {
    background-color: var(--d_ph);
    cursor: pointer;
}

.d_echl {
    font-family: 'Bangers', cursive;
}