:root {
    --d_bc: #eeee;
    --d_ph: #f9f9f9;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.d_bp {
    border: 1px solid var(--d_bc);
}

.d_of {
    overflow-y: scroll;
    height: 75vh;
}

.d_ph:hover {
    background-color: var(--d_ph);
    cursor: pointer;
}

.d_echl {
    font-family: 'Bangers', cursive;
}

.d_mfhm {
    margin: 0.85rem;
}

.d_bt {
    border-top: 1px solid var(--d_bc);
}

.d_idm {
    position: relative;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    padding: 0.5rem 3rem;
}

.d_idm:focus {
    outline: none;
}

.d_ms {
    position: absolute;
    left: 65px;
}

/* .d_mg {
    position: absolute;
    left: 530px;
}


.d_mh {
    position: absolute;
    left: 560px;
} */
