.hlb {
    border-bottom: 1px solid #dbdbdb;
}

.container {
    max-width: 1000px !important;
}

.hpy {
    padding: 0.8rem 0;
}

.hin {
    position: relative;
    min-width: 268px;
    height: 36px;
    border-radius: 8px;
    background-color: #efefef;
    font-size: 16px;
    border: none;
    padding: 3px 35px;
}

.hin:focus {
    outline: none;
}

.hinp {
    color: #888;
    position: absolute;
    top: 3.5px;
    left: 25px;
}

.hmti {
    margin-top: 0.5rem !important;
}

.hlcp {
    cursor: pointer;
}