:root {
    --bbc: #dbdbdb;
    --hin: #efefef;
    --hinp: #888;
}



.h_lb {
    border-bottom: 1px solid var(--bbc);
}

.container {
    max-width: 1000px !important;
}

.h_py {
    padding: 0.8rem 0;
}

.h_in {
    position: relative;
    min-width: 268px;
    height: 36px;
    border-radius: 8px;
    background-color: var(--hin);
    font-size: 16px;
    border: none;
    padding: 3px 35px;
}

.h_in:focus {
    outline: none;
}

.h_inp {
    color: var(--hinp);
    position: absolute;
    top: 3.5px;
    left: 25px;
}

.h_mti {
    margin-top: 0.5rem !important;
}

.h_lcp {
    cursor: pointer;
}

#h_bh {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}