.ex_iw {
    width: 96.6%;
}

.ex_ih {
    height: 49.3%;
}


@media(max-width:678px) {
    .ex_iw {
        margin: 0.5rem 0 0 0;
        width: 100%;
    }

    .mt-emmited {
        margin: 1rem 0 0 0;
    }
}